<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbaget</title>
    <link rel="stylesheet" href="/css/styleBabbage.css">
</head>

<body>
    <h1>Charles Babbage: "El padre de las computadoras modernas"</h1>
    <a href="http://localhost:3030/">Home</a>
    <h2>Biografia</h2>
    <p>______________________________________________________________________________________________________________________________________________________________________________________________________________________
    </p>
    <h3>Charles Babbage fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora
        mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero
        nunca
        construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera
        como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se
        le
        considera como "Alguien". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos.
        Parte
        de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres</h3>
    <p>______________________________________________________________________________________________________________________________________________________________________________________________________________________
    </p>
    <h3>Babbage es recordado también por otros logros. La promoción del cálculo infinitesimal es quizás la primera entre
        ellas. En 1812, Babbage funda la Sociedad Analítica. La tarea primordial de esta sociedad, conducida por el
        estudiante Robert Woodhouse, era promover el cálculo leibniziano, o cálculo analítico, sobre el estilo de
        cálculo
        newtoniano. El cálculo de Newton era torpe y aproximado, y era usado más por razones políticas que prácticas. La
        Sociedad Analítica incluía a sir John Herschel y George Peacock entre sus miembros. En los años 1815-1817
        contribuyó
        en el "cálculo de funciones" de las Philosophical Transactions (transacciones filosóficas), y en 1816 fue hecho
        miembro de la Royal Society. Charles Babbage también logró resultados notables en criptografía. Rompió la cifra
        auto
        llave de Vigenère, así como la cifra mucho más débil que se llama cifrado de Vigenère hoy en día. La cifra del
        auto llave fue llamada "la cifra indescifrable", aunque debido a la confusión popular muchos pensaron que la
        cifra
        apolialfabética más débil era indescifrable. El descubrimiento de Babbage fue usado en campañas militares
        inglesas,
        y era considerado un secreto militar. Como resultado, el mérito por haber descifrado esta clave le fue otorgado
        a
        Friedrich Kasiski, quien descifró también este sistema criptográfico algunos años después.
    </h3>
    <img src="/img/Charles Babbage2.jpg" alt="Foto de Charles Babbage" height="350">
    <img src="/img/Charles Babbage.jpg" alt="Foto numero 2 de Charles Babbage" height="350">
    <img src="/img/CharlesBabbage4.jpg" alt="Foto numero 3 de Charles Babbage" height="350">
</body>

</html>