<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a nuestra pagina!</title>
    <link rel="stylesheet" href="/css/styleHome.css">
</head>

<body>
    <h1>Bienvenidos a la pagina!</h1>

    <h3>Aqui podras conocer mucho mas acerca de estas personas que han contribuido demasiado a la tecnologia. Por lo que
        hoy podras saber mas sobre estas personas!.</h3>
    <h2>Enlaces:</h2>
    <h4>______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
    </h4>
    <h3>Para saber mas acercar de Babbage dirigete a el siguiente enlace: <a
            href="http://localhost:3030/babbage">Babbage</a>
    </h3>
    <h3>Para saber mas acercar de Berners-Lee dirigete a el siguiente enlace: <a
            href="http://localhost:3030/berners-lee">Barnes-Lee</a>
    </h3>
    <h3>Para saber mas acercar de Clarke a el siguiente enlace: <a href="http://localhost:3030/clarke">Clarke</a>
    </h3>
    <h3>Para saber mas acercar de Hamilton dirigete a el siguiente enlace: <a
            href="http://localhost:3030/hamilton">Hamilton</a>
    </h3>
    <h3>Para saber mas acercar de Hopper dirigete a el siguiente enlace: <a href="http://localhost:3030/hopper">Hopper</a>
    </h3>
    <h3>Para saber mas acercar de Lovelace dirigete a el siguiente enlace: <a
            href="http://localhost:3030/lovelace">Lovelace</a>
    </h3>
    <h3>Para saber mas acercar de Turing dirigete a el siguiente enlace: <a href="http://localhost:3030/turing">Turing</a>
    </h3>
</body>

</html>