<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Murray Hopper</title>
    <link rel="stylesheet" href="/css/styleHopper.css">
</head>

<body>
    <h1>Grace Hopper: "La mujer que revolucionó la programación"</h1>
    <a href="http://localhost:3030/">Home</a>
    <h2>Biografia</h2>
    <p>_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
    </p>
    <h3>Grace Murray Hopper nació el 9 de diciembre de 1906, en Nueva York, y murió en Arlington, Virginia (USA) el 1 de
        enero de 1992. Grace Hopper fue un distinguido oficial de la marina estadounidense y una destacada científica
        computacional.</h3>
    <p>_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
    </p>
    <h3>Hopper fue uno de los programadores del primer gran ordenador, el Mark I. Su trabajo dió lugar al primer
        lenguaje compilador para ordenadores. También trabajó en el desarrolo del COBOL, uno de los primeros lenguajes
        de programación. Acuñó el término "bug" (chinche, bicho) para referirse a un error de programación, cuando
        descubrió una pequeña mariposa dentro de los circuitos que hacía cometer errores de ejecución. En 1973, aunque
        en la reserva, fue la primera mujer en llegar a capitán de navío de la marina estadounidense. El 9 de diciembre
        se celebra el día mundial de la informática en conmemoración del nacimiento de Grace Hooper, pionera en la
        historia de la informática, donde las mujeres tuvieron un importante protagonismo. El surgimiento de la
        informática y sus perspectivas.</h3>
    <img src="/img/Grace Hopper.jpg" alt="Foto de Grace Hopper" height="400px">
    <img src="/img/Grace Hopper 2.jpg" alt="Foto numero 2 de Grace Hopper" height="550">
    <img src="/img/Grace Hopper 3.jpg" alt="Foto numero 3 de Grace Hopper" height="550">
</body>

</html>