<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
    <link rel="stylesheet" href="/css/styleLovelace.css">
</head>

<body>
    <h1>Ada Lovelace: "La primera programadora de ordenadores"</h1>
    <a href="http://localhost:3030/">Home</a>
    <h2>Biografia</h2>
    <p>_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
    </p>
    <h3>Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre de 1852),
        registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y
        escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de
        Charles Babbage, la denominada máquina analítica.</h3>
    <p>_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
    </p>
    <h3> Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro y en haber publicado lo
        que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la
        considera como la primera programadora de ordenadores. Dedujo y previó la capacidad de los ordenadores para ir
        más allá de los simples cálculos de números, mientras que otros, incluido el propio Babbage, se centraron
        únicamente en estas capacidades.A una edad temprana, su talento matemático la condujo a una relación de amistad
        prolongada con el matemático inglés Charles Babbage, y concretamente con la obra de Babbage sobre la máquina
        analítica. Entre 1842 y 1843, tradujo un artículo del ingeniero militar italiano Luigi Menabrea sobre la
        máquina, que complementó con un amplio conjunto de notas propias, denominado simplemente Notas. Estas notas
        contienen lo que se considera como el primer programa de ordenador, esto es, un algoritmo codificado para que
        una máquina lo procese. Las notas de Lovelace son importantes en la historia de la computación.</h3>
    <img src="/img/Ada Lovelace.jpg" alt="Imagen de Ada Lovelace" height="350px">
    <img src="/img/ada lovelace 2.jpg" alt="Imagen de Ada Lovelace numero 2" height="345px">
    <img src="/img/ada lovelace 3.jpg" alt="Imagen de Ada Lovelace numero 3" height="350px">
</body>

</html>