body{
    background-image:url("/img/Error404.jpg");
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 30;
}

h1{
    color: rgb(6, 6, 0);
    text-align: center;
    text-decoration: underline;
}

a{
    color: rgb(0, 0, 0);
}
img{
    padding-top: 0%;
    padding-left: 18%;
}